---
import BaseLayout from '../layouts/BaseLayout.astro';
import slide1 from '../assets/images/slide1.png';
import skills from '../assets/images/skills.png';
import events from '../assets/images/events.png';
import sets from '../assets/images/sets.png';
import discordicon from '../assets/images/discord.png';
import contacticon from '../assets/images/contact.svg';
---
<BaseLayout>
	<h1 class="pagetitle sitetitle">Georgia Quizbowl Community</h1>
	<div class="homeblock">
		<img class="homeimg" src={slide1.src}></img>
		<div class="homecontent">
			<h1 class="hometitle">The largest player-run quizbowl community</h1>
			<p class="homeinfo">
				GAQBC is the largest quizbowl community made by players, for players. 
				Whether you're a seasoned enthusiast or the newest of novices, GAQBC offers an embracing and engaging community 
				and environment for all things quizbowl-related. GAQBC is open to everyone—even non-Georgians.
			</p>
		</div>
	</div>
	<div class="homeblock">
		<img class="homeimg" src={sets.src}></img>
		<div class="homecontent">
			<h1 class="hometitle">Exclusive tournaments and sets</h1>
			<p class="homeinfo">
				GAQBC offers tournaments and mirrors with excellent value; with our tournaments being $70 or less per team 
				and having seven games guaranteed, you'll pay at most 50 cents per tossup-bonus cycle.
				We're also working on writing our own sets, starting with our Peach Novice sets.
			</p>
		</div>
	</div>
	<div class="homeblock">
		<img class="homeimg" src={skills.src}></img>
		<div class="homecontent">
			<h1 class="hometitle">Hone your skills</h1>
			<p class="homeinfo">
				Georgia has some of the best quizbowl talent in the country; teams and individuals in the state consistently place 
				very high and even win prestigious national competitions including NAQT's MSNCT and HSNCT and IAC's subject bees. 
				Talk and practice with our players or ask them for advice to improve your own capabilities.
			</p>
		</div>
	</div>
	<div class="homeblock">
		<img class="homeimg" src={events.src}></img>
		<div class="homecontent">
			<h1 class="hometitle">Events!</h1>
			<p class="homeinfo">
				GAQBC hosts a plethora of live events, from scrimmages, streams, and game nights! 
				There's even a chance of winning Discord Nitro and other prizes.
			</p>
		</div>
	</div>
	<hr>
	<div class="socials">
		<div class="socialblock" id="discord">
			<div class="socialtitle">
				<h1>Discord</h1>
				<img class="socialicon" src={discordicon.src}></img>
			</div>
			<p>Immerse yourself in a thriving community of passionate quizbowlers by joining the GAQBC Discord server. Chat, play scrimmages, get to know others, and more!</p>
			<button class="socialbutton" onclick="location.href='https://discord.gg/tSbQvYp4ZE';">Join</button>
		</div>
		<div class="socialblock">
			<div class="socialtitle">
				<h1>Contact us</h1>
				<img class="socialicon" src={contacticon.src}></img>
			</div>
			<p>Questions? Concerns? Suggestions? Email us at <tt>gaqbc.official@gmail.com</tt>!</p>
		</div>
	</div>

	<style>
		.sitetitle {
				margin-bottom: 50px;
		}

		hr {
			border: none;
			height: 1.5px;
			background-color: #ddd;
			margin-top: 60px;
			margin-bottom: 60px;
		}

		.socialbutton {
			width: 150px;
			height: 75px;
			font-size: 23px;
			font-weight: bold;
			border: none;
			border-radius: 10px;
			color: white;
			background-color: rgba(88, 101, 242);
			align-self: center;
			margin-bottom: 20px;
			margin-top: 20px;
			cursor: grab;
		}

		@media screen and (min-width: 767px) {
			.homeblock {
				align-items: center;
				display: flex;
				margin-bottom: 50px;
				& > .homecontent {
					display: inline-flex;
					flex-direction: column;
					& > .homeinfo {
						font-size: 20px;
					}
				}
				& > .homeimg {
					display: inline-flex;
					width: 27vw;
					aspect-ratio: 1;
					object-fit: cover;
					border-radius: 20px;
					margin-right: 60px;
				}
				&:nth-child(even) {
					flex-direction: row-reverse;
					& > .homeimg {
						margin-left: 50px;
						margin-right: 0px;
					}
				}
			}
			
			.socials {
				display: flex;
				justify-content: space-between;
				& > .socialblock {
					border: solid #ddd;
					background-color: #f6f6f6;
					border-radius: 10px;
					padding: 0px 20px 0px 20px;
					display: inline-flex;
					flex-direction: column;
					&:target {
						animation-duration: 0.75s;
						animation-iteration-count: 4;
						animation-direction: alternate;
						animation-timing-function: linear;
						animation-name: flash;
					}
					& > p {
						font-size: 20px;
					}
					& > .socialtitle {
						display: flex;
						align-items: center;
						& > h1 {
							display: inline-flex;
							margin-right: 20px;
						}
						& > .socialicon {
							display: inline-flex;
							height: 40px;
							width: auto;
						}
					}
					&:nth-child(odd) {
						margin-right: 25px;
					}
					&:nth-child(even) {
						margin-left: 25px;
					}
				}
			}
		}

		@media screen and (max-width: 766px) {
			.homeblock {
				margin-bottom: 30px;
				display: flex;
				flex-direction: column-reverse;
				& > .homecontent {
					margin-bottom: 15px;
				}
				& > .homeimg {
					border-radius: 20px;
				}
			}

			.socialblock {
				border: solid #ddd;
				background-color: #f6f6f6;
				display: flex;
				flex-direction: column;
				border-radius: 10px;
				padding: 0px 20px 0px 20px;
				margin-top: 30px;
				&:target {
					animation-duration: 0.75s;
					animation-iteration-count: 4;
					animation-direction: alternate;
					animation-timing-function: linear;
					animation-name: flash;
				}
				& > .socialtitle {
					display: flex;
					align-items: center;
					& > h1 {
						display: inline-flex;
						margin-right: 20px;
					}
					& > .socialicon {
						display: inline-flex;
						height: 40px;
						width: auto;
					}
				}
			}
		}

		@keyframes flash {
			to {background-color: rgba(255, 255, 0, 0.3);}
		}
	</style>
</BaseLayout>