---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import slide1 from '/src/assets/slide1.png';
import slide2 from '/src/assets/slide2.png';
import slide3 from '/src/assets/slide3.png';
import slide4 from '/src/assets/slide4.png';
import slide5 from '/src/assets/slide5.png';
import slide6 from '/src/assets/slide6.png';
const { main } = Astro.props;
---
<div class="banner" id="banner">
    <img class="invisible" id="slide1" src={slide1.src}></img> 
    <img class="invisible" id="slide2" src={slide2.src}></img> 
    <img class="invisible" id="slide3" src={slide3.src}></img> 
    <img class="invisible" id="slide4" src={slide4.src}></img> 
    <img class="invisible" id="slide5" src={slide5.src}></img> 
    <img class="invisible" id="slide6" src={slide6.src}></img> 
    <img class="banner-background" src={slide1.src}></img>
    <div class="banner-inner">
        <h1>{main}</h1>
    </div>
</div>