---
const {title, date, author, content} = Astro.props
---

<div class="entry" id={title}>
    <div class="entryinfo">
        <p class="entrydate">{date}</p>
        <p class="entryauthor">{author}</p>
    </div>
    <div class="entrymain" id="entrymain">
        <h1 class="entrytitle">{title}</h1>
        <p class="invisible" id="rawcontent">{content}</p>
    </div>
</div>

<style>
  .entry {
  margin-top: 25px;
  display: block;
  & > .entryinfo {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    & > .entryauthor {
      font-weight: 500;
    }
    & > .entrydate {
      margin-top: 8px;
      color: #777;
    }
  }
  & > .entrymain {
    & h1 {
      margin-top: 0px;
    }
    vertical-align: top;
    display: inline-block;
    max-width: min(calc(60% + 150px), calc(100% - 160px));
  }
}
</style>